.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 10px;
}
.price{
    color: deeppink;
}
.buy-now-button{
    background-color: deeppink;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

}